body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d380a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar a {
  padding: 8px 8px 8px 18px;
  text-decoration: none;
  font-size: 25px;
  color: #d8bebe;
  display: block;
  transition: 0.3s;
  text-align: center;
}



.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.content-section {
  display: none;
  padding: 130px;
  border-top: 1px solid black;
  color: #333;
}


.content-section.active-section {
  display: block;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(236, 225, 225);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #4d380a;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} 
h2 {
  text-align: center;
  color: #1c0427;
}

p{
  font-size: 20px;

} 

.labdariba {

  float: left;
}

#labdaribai {
  background-color: rgb(162, 203, 228);
}
#uznemejdarbibai {
  background-color: rgb(162, 203, 228);
}
#celojumiem {
  background-color: rgb(162, 203, 228);
}
#citi {
  background-color: rgb(162, 203, 228);
}

img{
  width: 440px;
  height: 300px;
 align-self: start;
 float: right;
 
}

div.ex1 {
  width: 440px;
  height:260px;
  margin: auto;
  border: 3px solid #d5c1e8;
  text-align: center;
  float: left;
 
}
h4{
  font-size: 18px;
  color:  #491260;
}

ul{
font-size: 17px;
color: #000000;
text-align: left;
}

h5{
 
color: #8e44ad;
float: right;
font-size: 18px;
}

a {
  color: #531e69;
  float: right;
  font-size: 15px;
}

footer {
  background-color: #d5c1e8;
  padding: 16px;
  color: rgb(186, 108, 202);
  border-bottom: 2px solid black;
}
h6 {
  color: #531e69;
  float: left;
  font-size: 17px;
}
h3{
  color: #531e69;
  font-size: 20px;
  text-align: center;
}

.logo{
  width: 150px;
  height: 100px;
}

.ceļošana {
  font-size: 15px;
  color: #140b9a;
  text-align: center;
}
table, th, td {
  border: 1px solid;
  text-align: center;
  color: #16011f;
}
.bloks{
    display: grid;
    background-color: rgb(157, 204, 240);
    height: 200px;
    width: 300px;
    float: center;
}
.suni {
  text-align: left;
  float: left;
}